:root {
  --shiki-color-text: theme('colors.white');
  --shiki-token-constant: theme('colors.coral.300');
  --shiki-token-string: theme('colors.coral.300');
  --shiki-token-comment: theme('colors.zinc.500');
  --shiki-token-keyword: theme('colors.sky.300');
  --shiki-token-parameter: theme('colors.pink.300');
  --shiki-token-function: theme('colors.violet.300');
  --shiki-token-string-expression: theme('colors.coral.300');
  --shiki-token-punctuation: theme('colors.zinc.200');
}

@layer components {
  .prose p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .btn {
    @apply bg-coral font-semibold rounded relative flex-grow-0 px-0 py-0 leading-none flex-shrink-0 justify-center items-center flex;
  }

  .btn-primary {
    @apply btn gap-4 px-6 py-3 hover:bg-coral-400 text-[18px] text-left text-white;
  }

  .btn-primary-sm {
    @apply btn-primary text-sm px-5 py-2 text-[15px] leading-none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;


